html, body {
  position: absolute;
  margin: 0!important; 
  padding: 0!important;
  height: 540px;
  width: 360px; 
  background-color: gray;
} 

video#video-preview {
  position: absolute; 
  padding: 0;
  margin: 0;
  height: 540px;
  width: 360px;
}

div#container{
  position: absolute;
  margin: 0!important;
  padding: 0!important;
  height: 540px;
  width: 360px;  
}

div#quest{
    transition:all 3s;
    position: absolute;
    top: 6vw;
    left: 5.5vw;
    opacity: 1; 
    width: 74vw;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    font-weight: 400;
    text-align: left;
    line-height: 1.4;
    color: white;
}

div#heart{
    position: absolute;
    top: 6.8vw;
    right: 5.5vw;
    opacity: 1;
}

div#bg {
    position: absolute;
    height: 30vw;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
}

div#myProgress {
    position: absolute;
    left: 0;
    height: 1vw;
    width: 100%;
    background-color: grey;
    bottom: 29vw;
}

div#myBar {
    position: absolute;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: red;
} 

button { 
    top: 7vw; 
    font-family: 'Roboto', monospace; 
    font-size: 1em;
    border-radius: 50%;
    width: 16vw;
    height: 16vw;
}

div#countdown {
  position: absolute; 
  display: block;
  bottom: 30vw;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', monospace; 
  font-size: 5vw;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  text-shadow: 1vw;
  opacity: 1;
}

/*div#center { 
  position: absolute; 
  width: 19vw;
  height: 19vw;
  top: 15.5vw;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: transparent; 
}*/


/*div#circle { 
  position: absolute;
  border-style: solid;
  border-width: 3px; 
  width: 15vw;
  height: 15vw;
  top: 9vw;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: white;
  background-color: transparent;
  border-radius: 50%;
}*/

div#center { 
  position: absolute;
  /*border-style: solid;*/
  /*border-width: 1px; */
  width: 19vw;
  height: 19vw;
  top: 15vw;
  left: 50%;
  transform: translate(-50%, -50%);
  /*border-color: white;*/
  background-color: transparent;
  /*border-radius: 50%;*/
}

div#btn-rec {
  position: absolute;
/*  border-style: solid;
  border-width: 3px;*/
  /*display: block;*/
  width: 12vw;
  height: 12vw;
  top: 1.7vw;
  left: 1.6vw;
}
 
 div#btn-pause {
  position: absolute;
  /*display:none;*/
/*  border-style: solid;
  border-width: 3px;*/
  /*display: block;*/
  width: 12vw;
  height: 12vw;
  top: 1.7vw;
  left: 1.6vw;
}
 
 div#btn-resume {
  position: absolute;
  /*display:none;*/
/*  border-style: solid;
  border-width: 3px;*/
  /*display: block;*/
  width: 12vw;
  height: 12vw;
  top: 1.7vw;
  left: 1.6vw;
}

/*div#btn-rec {
  left: 30vw;
}
 
div#btn-pause {
  left: 60vw;
}*/

div#btn-play {
  position: absolute; 
  width: 11vw;
  height: 11vw;
  top: 1.7vw;
  left: 1.6vw;
}
 

button#btn-stop { 
  position: absolute; 
  padding: 0;
  bottom: 8.3vw;
  font-size: 4.3vw;
  text-align: center;
  border: 0;
  left: 13vw;
  background-color: transparent; 
  color: white;
  text-shadow: 1vw;
}


/*div#record div#pause div#play{
  position: absolute;
  border-style: solid;
  border-width: 3px;
  display: block;
  width: 17vw;
  height: auto;
  top: 30vw;
}*/

button#download { 
  position: absolute;
  /*border-style: solid;*/
  border: 0;
  display: block;
  bottom: 8.8vw;
  right: 11.8vw;
  /*transform: translate(-50%, -50%);*/
  /*border-color: white;*/
  /*background-color: white;*/
  background-color: rgba(255,255,255,1);
}

/*#download {
  position: absolute;
  border: 0; 
  bottom: 5vw;
  right: 21vw; 
  background-color: white;
}*/
 
 /*div#ro {
    position: absolute;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: red;
} */

#ro {
  position: absolute; 
  width: 12vw;
  height: 12vw;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #E40000;
  border-radius: 50%;
}

#yz {
  position: absolute;
  width: 7vw;
  height: 7vw;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: #fff;
  border-radius: 0%;
} 

button#flip {
  position: absolute;
  background-color: transparent;
  bottom: 7vw;
  border: 0;
  right: 12vw;
}


#rrr {
  padding-top: 1.1vw;
/*  top: 2vw;
  margin-top: 2vw;*/
}


/*div#yz:active {
    background: #fff; 
    border-radius: 0%;
}*/

/*button[disabled] {
    background: #aaa;
    background-color: transparent;
    color: #aaa;
}*/

/*a, a:hover, a:visited {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 0.1em;
} */


button:active, button:hover {
    /*background: #000;*/
    color: #fff;
}

button[disabled] {
    background: #aaa;
    color: #000;
}

a, a:hover, a:visited {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 0.1em;
}
