 
/* Container holding the image and the text */
/*.container {
    position: absolute;
    text-align: center; 
    top: 0;
    left: 0;
    width: 100%;
}*/

/*canvas, video { 
    padding: 0;
    margin: 0; 
}*/

body {
    /*display: block;*/
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #232128;
   /* width: 375;
    height: 667;*/
}

/*video {
    width: 375, height: 667;
}


canvas, video { 
    padding: 0;
    margin: 0; 
}*/
 
#gum { 
    width: 375px;
    height: 667px; 
} 

#quest{
    transition:all 3s;
    position: absolute;
    top: 6.5vw;
    left: 5.5vw;
    opacity: 1; 
    width: 74vw;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    font-weight: 400;
    text-align: left;
    line-height: 1.4;
    color: white;
}

#heart{
    position: absolute;
    top: 6.5vw;
    right: 5.5vw;
    opacity: 1;
}

#bg {
    position: absolute;
    height: 32vw;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
}

div#myProgress {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: grey;
    bottom: 32vw;
}

div#myBar {
    position: absolute;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: red;
} 

button { 
    bottom: 10vw; 
    font-family: 'Roboto', monospace; 
    font-size: 1em;
    border-radius: 50%;
    width: 16vw;
    height: 16vw;
}

div#countdown {
  position: absolute; 
  display: block;
  bottom: 32vw;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', monospace; 
  font-size: 5vw;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  text-shadow: 1vw;
  opacity: 1;
}

button#record { 
  position: absolute;
  border-style: solid;
  border-width: 3px;
  /*display: block;*/
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: white;
  background-color: transparent;
}
 
 /*div#ro {
    position: absolute;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: red;
} */

#ro {
  position: absolute; 
  width: 12vw;
  height: 12vw;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #E40000;
  border-radius: 50%;
}

#yz {
  position: absolute;
  width: 7vw;
  height: 7vw;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: #fff;
  border-radius: 0%;
}

button#back { 
  position: absolute;
  /*display: block;*/
  /*margin-left: 0; */
  padding: 0;
  bottom: 8.3vw;
  font-size: 4.3vw;
  text-align: center;
  border: 0;
  left: 13vw;
  background-color: transparent;
  /*background-color: white;*/
  color: white;
  text-shadow: 1vw;
}

button#flip {
  position: absolute;
  background-color: transparent;
  bottom: 8.3vw;
  border: 0;
  right: 12vw;
}

#rrr {
  padding-top: 1.1vw;
/*  top: 2vw;
  margin-top: 2vw;*/
}


div#countdown {
  position: absolute; 
  display: block;
  bottom: 33vw;
  text-align: center;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 20vw;
  height: 6vw;
  /*background-color: transparent;*/
  font-family: 'Roboto', monospace; 
  font-size: 5vw;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  text-shadow: 1vw;
  opacity: 1;
}

/*div#yz:active {
    background: #fff; 
    border-radius: 0%;
}*/

/*button[disabled] {
    background: #aaa;
    background-color: transparent;
    color: #aaa;
}*/

/*a, a:hover, a:visited {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 0.1em;
} */


button:active, button:hover {
    /*background: #000;*/
    color: #fff;
}

button[disabled] {
    background: #aaa;
    color: #000;
}

a, a:hover, a:visited {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 0.1em;
}
